*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
button:hover{
    color: white;
    background-color: red;

}

button:active{
    color:red ;
    background-color: palevioletred;
}


